
image: Visual Studio 2015

build: false


environment:
  matrix:
    - CONDA: C:\Python27
    - CONDA: C:\Python27-x64
    - CONDA: C:\Python38-x64
# Meson errors, no binaries for 32-bits    - CONDA: C:\Python38

init:
  - "ECHO %CONDA%"

install:
  - "SET PATH=%CONDA%;%CONDA%\\Scripts;%CONDA%\\Library\\bin;%CONDA%\\DLLS;%PATH%"
  - "mkdir C:\\tmp"
  - "set TMPDIR=C:\\tmp"
  - python -c "import sys; print(sys.executable, sys.version)"
  - python -m pip install --upgrade pip setuptools
  - python -m pip install pytest 'numpy<2'
  - python -m pip install --ignore-installed certifi --upgrade-strategy only-if-needed --only-binary=h5py --only-binary=scipy --only-binary=hdf5plugin .


test_script:
  - cd test
  - python -m pytest

